name: Check

on:
  workflow_call:
    inputs:
      features:
        type: string
        required: false
        default: "async,tokio-support"
      compare-branch:
        type: string
        required: false
        default: main

permissions:
  contents: read

jobs:
  read-toolchain:
    uses: ShuttlePub/workflows/.github/workflows/read-toolchain.yml@main
  detect-workspaces:
    uses: ShuttlePub/workflows/.github/workflows/detect-workspaces.yml@main
    
  check:
    needs: [read-toolchain, detect-workspaces]
    runs-on: ubuntu-latest
    strategy:
        fail-fast: false
        matrix:
          workspace: ${{ fromJson(needs.detect-workspaces.outputs.matrix) }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b
        with:
          toolchain: ${{ needs.read-toolchain.outputs.channel }}
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
        with:
          shared-key: ${{ matrix.workspace }}
      - name: Bench
        uses: boa-dev/criterion-compare-action@adfd3a94634fe2041ce5613eb7df09d247555b87 # v3.2.4
        with:
          branchName: ${{ inputs.compare-branch }}
          package: ${{ matrix.workspace }}
          features: ${{ inputs.features }}
