name: Check

on:
  workflow_call:
    inputs:
      workspace:
        type: string
        required: true

permissions:
  contents: read

jobs:
  read-toolchain:
    uses: ShuttlePub/workflows/.github/workflows/read-toolchain.yml@main

  check:
    needs: [read-toolchain]
    runs-on: ubuntu-latest
    strategy:
        fail-fast: false
        matrix:
          workspace: ${{ fromJson(inputs.workspace) }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b
        with:
          toolchain: ${{ needs.read-toolchain.outputs.channel }}
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          shared-key: ${{ matrix.workspace }}
      - name: Format check
        run: cargo fmt --verbose -p $WORKSPACE -- --check
        env:
          WORKSPACE: ${{ matrix.workspace }}
      - uses: giraffate/clippy-action@13b9d32482f25d29ead141b79e7e04e7900281e0 # v1.0.1
        with:
          reporter: 'github-pr-review'
          clippy_flags: '-p ${{ matrix.workspace }} -- -Dwarnings'
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        run: cargo build --verbose -p $WORKSPACE
        env:
          WORKSPACE: ${{ matrix.workspace }}
      - name: Test
        run: cargo test --verbose -p $WORKSPACE
        env:
          WORKSPACE: ${{ matrix.workspace }}
