name: DetectWorkspaces

on:
  workflow_call:
    outputs:
      matrix:
        description: "Detected workspaces for using matrix"
        value: ${{ jobs.detect-workspaces.outputs.matrix }}

permissions:
  contents: read

jobs:
  detect-workspaces:
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'ShuttlePub' && !contains(github.event.head_commit.message, '[CI-SKIP]') }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305 # v3.3.2
        with:
          crate: cargo-workspaces
      - id: set-matrix
        run: |
          # outputs like ["kernel","driver"]
          WORKSPACES=$(echo "[$(cargo ws ls)]" | tr '\n' ',\t' | sed -e 's/],/\"]\n/' | sed -e 's/\[/\[\"/' | sed -e 's/,/\",\"/g')
          echo "result: $WORKSPACES"
          echo "matrix=$WORKSPACES" >> "$GITHUB_OUTPUT"
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    
