name: Read rust-toolchain.toml

on:
  workflow_call:
    outputs:
      channel:
        description: "Detected toolchain channel"
        value: ${{ jobs.read-toolchain.outputs.channel }}

permissions:
  contents: read

jobs:
  read-toolchain:
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'ShuttlePub' && !contains(github.event.head_commit.message, '[CI-SKIP]') }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: SebRollen/toml-action@b1b3628f55fc3a28208d4203ada8b737e9687876 # v1.2.0
        id: toolchain
        with:
          file: "rust-toolchain.toml"
          field: "toolchain.channel"
      - run: |
          echo "detected: $TOOLCHAIN"
        env:
          TOOLCHAIN: ${{ steps.toolchain.outputs.value }}
    outputs:
      channel: ${{ steps.toolchain.outputs.value }}
