name: Check

on:
  workflow_call:
    inputs:
      workspace:
        type: string
        required: true

permissions:
  contents: read

jobs:
  read-toolchain:
    uses: ShuttlePub/workflows/.github/workflows/read-toolchain.yml@main

  check-psql:
    needs: [read-toolchain]
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: postgres_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - "5432:5432"
        # Set health checks to wait until postgres has started
        options: --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    runs-on: ubuntu-latest
    env:
      WORKSPACE: ${{ inputs.workspace }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b
        with:
          toolchain: ${{ needs.read-toolchain.outputs.channel }}
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
        with:
          shared-key: ${{ inputs.workspace }}
      - name: Format check
        run: cargo fmt --verbose -p $WORKSPACE -- --check
      - uses: giraffate/clippy-action@13b9d32482f25d29ead141b79e7e04e7900281e0 # v1.0.1
        with:
          reporter: 'github-pr-review'
          clippy_flags: '-p ${{ inputs.workspace }} -- -Dwarnings'
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        run: cargo build --verbose -p $WORKSPACE
      - name: Test
        run: cargo test --verbose -p $WORKSPACE
        env:
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/postgres_test
